<!-- py is padding in y direction -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <!-- mute the color of the text -->
        <span class="text-light">&copy; YelpCamp 2023</span>
    </div>
</footer>