<% layout('layouts/boilerplate')%>
<!-- passes all below stuffs as a body into boilerplate.ejs file seperately-->
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <!-- offset-3 is a class that is used to create an empty space to the left of a column, effectively shifting the column to the right. -->
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <!-- form control -->
                <!-- It sets the width of form controls to 100% by default, making them fill the width of their container.
                It provides a consistent border, padding, and margin for form controls.
                It provides a variety of helper classes for sizing, disabling, and read-only form controls. -->
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="price">Compound Price</label>
                <!-- it is copied from input group in docs of bootstrap -->
                <div class="input-group">
                    <span class="input-group-text" id="price-label">₹</span>
                    <input type="text" class="form-control" id="price" placeholder="0.0" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div> 
        </form>
        <a href="/campgrounds">All Campground</a>
    </div>
</div>
